@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: 'Figtree';
  margin: 0;
  padding: 0;
}

/* Base styles for headings (desktop size as default) */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
  font-weight: 600;
}

h1 {
  font-size: 60px;
  line-height: 115%;
}

h2 {
  font-size: 45px;
  line-height: 120%;
}

h3 {
  font-size: 35px;
  line-height: 120%;
}

h4 {
  font-size: 30px;
  line-height: 125%;
}

h5 {
  font-size: 24px;
  line-height: 125%;
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
    line-height: 115%;
  }

  h2 {
    font-size: 38px;
    line-height: 120%;
  }

  h3 {
    font-size: 32px;
    line-height: 120%;
  }

  h4 {
    font-size: 28px;
    line-height: 125%;
  }

  h5 {
    font-size: 22px;
    line-height: 125%;
  }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 115%;
  }

  h2 {
    font-size: 32px;
    line-height: 120%;
  }

  h3 {
    font-size: 28px;
    line-height: 120%;
  }

  h4 {
    font-size: 24px;
    line-height: 125%;
  }

  h5 {
    font-size: 20px;
    line-height: 125%;
  }
}

/* Paragraph Styles */

/* Large - Bold Paragraph */
.paragraph-large-bold {
  font-family: Figtree, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Large - Regular Paragraph */
.paragraph-large-regular {
  font-family: Figtree, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Medium - Regular Paragraph */
.paragraph-medium-regular {
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Medium - Bold Paragraph */
.paragraph-medium-bold {
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 23.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Small - Regular Paragraph */
.paragraph-small-regular {
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Small - Bold Paragraph */
.paragraph-small-bold {
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.label-small {
  font-family: Figtree;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.label-medium {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.label-large {
  font-family: Figtree;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}


.subtitle {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(158, 158, 158, 1);
}